.about{
    font-size: 1000px;
    color: rgb(10, 10, 98);
    font-style: italic;
    text-align:center;
    align-items: center;
    justify-content: center;
}
.jgd{
    text-align:center;
}